*.exe
*.zip
Sistemi e reti/c/dispense/
*.pdf
tep.txt
sottomultipli.png
.gitignore
telecomunicazioni .txt
file batch.bat
*.ini
*.pyc
*.ini.bak
Informatica/Flutter/widget_state/
Informatica/Flutter/widget_stateless/
Informatica/Flutter/flutter_prima/
Informatica/Flutter/convertitore/
Informatica/java/Swing/
